/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/GalleryOne/galleryone.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.galleryone_galleryScrollContainer__WxxOl {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 20px 0;
  gap: 10px;

  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.galleryone_galleryScrollContainer__WxxOl::-webkit-scrollbar {
  display: none;
}

.galleryone_galleryItem__0ZOtv {
  flex: 0 0 auto;
  display: inline-block;
  width: 220px; /* Reduced width */
  margin-right: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.galleryone_galleryItem__0ZOtv:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.galleryone_trendingImage__irZfg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 3px solid #ffffff; /* Perfect border color */
  transition: border-color 0.3s ease-in-out;
}

.galleryone_trendingImage__irZfg:hover {
  border-color: #000000; /* Border color changes on hover */
}


.galleryone_loadMoreBtn__4EGm4 {
  display: inline-block;
  background-color: #0288D1;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 40px;
  border: none;
  border-radius: 50px; /* Oval shape */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.galleryone_loadMoreBtn__4EGm4:hover {
  background-color: #01579B;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./node_modules/react-lazy-load-image-component/src/effects/blur.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
}

