/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./node_modules/react-lazy-load-image-component/src/effects/blur.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/GalleryOne/galleryone.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.galleryone_galleryContainer__9kwrX {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.galleryone_galleryWrapper__wlCbZ {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 80%; /* Adjust width */
  padding: 10px;
}

/* Hide scrollbar */
.galleryone_galleryWrapper__wlCbZ::-webkit-scrollbar {
  display: none;
}

.galleryone_galleryItem__0ZOtv {
  flex: 0 0 auto;
}

.galleryone_galleryImage__ZH_r0 {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.galleryone_galleryImage__ZH_r0:hover {
  transform: scale(1.05);
}

.galleryone_scrollBtn__m2LXE {
  background-color: #0277BD;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.galleryone_scrollBtn__m2LXE:hover {
  background-color: #01579B;
}

