.galleryContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.galleryWrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 80%; /* Adjust width */
  padding: 10px;
}

/* Hide scrollbar */
.galleryWrapper::-webkit-scrollbar {
  display: none;
}

.galleryItem {
  flex: 0 0 auto;
}

.galleryImage {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.galleryImage:hover {
  transform: scale(1.05);
}

.scrollBtn {
  background-color: #0277BD;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.scrollBtn:hover {
  background-color: #01579B;
}
